        /*par defaut*/
* {
    scrollbar-color:green/*Couleur à changer en fonction charte graphique*/
}

img {
    min-width: 25%;
}

.flex-none{
    margin-right: 5%;
}

.flex-none :hover{
    background-color:aquamarine;/*Couleur à changer en fonction charte graphique*/
    border-color:aquamarine; /*Couleur à changer en fonction charte graphique*/
}

.btn-menu {
    width:30px;
    height: 30px;
}



        /*Style MOBILE*/
@media screen and (min-width:320px){
    img {
    max-width: 25%;
    }

}

/*Style LAPTOP Medium*/



/*Style LAPTOP Large*/






