.card-dashboard{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: rgba(187, 227, 250, 0.3);
    border: solid 2px;
    border-color: var(--bg-section);
}

.btn-dashboard{
    background-color:var(--secondary-color);
}

.btn-dashboard:hover{
    border:solid 1px;
    border-color:white;
    box-shadow: none;
}