/*Reset du user agent*/
* {
    text-decoration: none;
    box-sizing: border-box;
    /*Pour que le contenu ne depasse pas le contenant*/
    list-style: none;
}

/*GENERAL*/



.flex-none {
    margin-right: 5%;
}

.flex-none :hover {
    background-color: aquamarine;
    /*Couleur à changer en fonction charte graphique*/
    border-color: aquamarine;
    /*Couleur à changer en fonction charte graphique*/
}

.btn-menu {
    width: 30px;
    height: 30px;
}

.bg-image {
    background-image: url("/asset/image/testAccueil.jpg");
}

.card-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}


/*Style MOBILE*/
@media screen and (min-width:320px) {
    .logo {
        width:50%;
    }

}

/*Style LAPTOP Medium*/
@media screen and (min-width:768px) {
    .logo {
        width: 25%;
    }
}

/*Style LAPTOP Large*/