.trip {
    background-color: var(--text-white);
    border: solid  4px;
    border-color: var(--secondary-color);
}

/*Mobile*/
@media screen and (min-width:320px) and (max-width:767px) {
    

}


/*large*/
@media screen and (min-width:768px) {
    .container-trip{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
    }

    .trip{
        width:100%;
    }

}